<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Ajax"/>
        <add namespace="System.Web.Html"/>
        <add namespace="System.Web.Optmization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="Syncfustion.Web.Mvc.Shared"/>
        <add namespace="Syncfustion.Web.Mvc.Schedule"/>
        <add namespace="Syncfustion.Web.Mvc.Tools"/>
        <add namespace="DiagramSample"/>
        <add namespace="Syncfustion.EJ2"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>